* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(159, 213, 238);
}
.snare-pad {
  background: rgb(238, 159, 221);
}
.hihat-pad {
  background: rgb(238, 197, 159);
}
.kick-pad.active {
  background: rgb(27, 174, 241);
}
.snare-pad.active {
  background: rgb(243, 68, 205);
}
.hihat-pad.active {
  background: rgb(240, 159, 83);
}
.sequencer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  background: rgb(88, 88, 88);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}
select {
  padding: 1rem;
  font-size: 1rem;
}

.mute.active {
  background: rgb(153, 151, 151);
}
.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  margin: 1rem 0rem;
  -webkit-appearance: none;
  width: 100%;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 1320px) {
  .kick-track,
  .snare-track,
  .hihat-track {
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .kick,
  .snare,
  .hihat {
    flex-wrap: wrap;
    justify-content: center;
  }
  .controls {
    font-size: 0.8rem;
  }
  .controls button {
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  select {
    padding: 0.5rem;
    flex-basis: 100%;
  }
  .tempo p {
    font-size: 1rem;
    justify-content: center;
    margin: 2rem 0rem;
  }
}
